<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>
    <!-- página de cadastro de produtos -->
    <h1>cadastro Página html</h1>

    <form method="POST">
        <input name="nome" type="text" placeholder="Nome completo" required>
        <br><br>

        <input name="telefone" type="text" required>
        <br><br>

        <button type="submit">Cadastro Usuário</button>
        <button type="reset">Limpar Form</button>
    </form>
</body>
</html>