<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro página</title>
</head>

<body>
    <!--cadastrar produtos -->
    <h1>Cadastro</h1>

    <form method="POST">
        <labe>Nome</labe> <br />
        <input name="nome" type="text" placeholder="Nome completo" required>
        <br><br>

        <input name="telefone" type="text" required>
        <br><br>

        <!-- cadastrar usuários-->
        <button type="submit">Cadastro Usúario</button>
        <button type="reset">Limpar Formulário</button>
    </form>
</body>

</html>