<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastrar contas</title>
    <style>
        body {
            background-color: lightcyan;
        }

        h1 {
            color: tomato;
            font-size: 25px;
            text-align: center;
        }
    </style>
</head>

<body>
    <!--Contas -->
    <h1> Cadastro Contas</h1>

    <form method="POST">
        <label>Descrição</label><br>
        <input nome="descricao" type="text" required>
        <br><br>
        
        <label>Vencimento</label><br>
        <input nome="data_venc" type="date" required>
        <br><br>
         
        <label>Valor</label><br>
        <input nome="valor" type="number" required>  
        <br><br> 

        <label>Data Pagamento</label><br> 
        <input nome="data_pag" type="date" required>
         <br><br>     
         
        <label>Status</label>
        <br>
    <select name="Status">
        <option>Selecionar</option>
        <option value="pago">Pago</option>
        <option value="Pendente">Pendente</option>
        <option value="Vencido">Vencido</option>       
    </select>
    <br><br>

         <!--Cadastro de informações-->
        <button type="submit">Cadastro de Contas</button>
        <button type="reset">Limpar Formulário</button>
    </form>  
</body>
</html>